/*
 * BODY SETTINGS ***
 */

*
{
	margin: 0px;
	padding: 0px;
}
html, body
{
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}
/*
 * TAGS ***
 */

p
{
	padding-bottom: 15px;
}
a
{
	text-decoration: none;
	word-wrap: break-word;
}
ul
{
	list-style-type: none;
}
img
{
	border: none;
}
strong
{
	font-weight: bold;
}
blockquote
{
	margin-bottom: 15px;
	padding: 15px 0px 0px 40px;
}
blockquote p
{
	padding: 0px;
}
pre
{
	margin-bottom: 20px;
	padding-left: 30px;
}
/*
 * LIST ***
 */

.list_style_arrows a, .list_style_arrows span, .list_style_none a, .list_style_none span
{
	display: block;
	height: auto !important;
	height: 18px;
}
.list_style_arrows a, .list_style_arrows span
{
	padding: 2px 0px 2px 15px;
}
.list_style_arrows ul a, .list_style_arrows ul span
{
	padding-left: 25px;
}
.list_style_arrows ul ul a, .list_style_arrows ul ul span
{
	padding-left: 35px;
}
.list_style_arrows ul ul ul a, .list_style_arrows ul ul ul span
{
	padding-left: 45px;
}
.list_style_arrows ul ul ul ul a, .list_style_arrows ul ul ul ul span
{
	padding-left: 55px;
}
.list_style_none a, .list_style_none span
{
	padding: 2px 0px 2px 0px;
}
.list_style_none ul a, .list_style_none ul span
{
	padding-left: 15px;
}
.list_style_none ul ul a, .list_style_none ul ul span
{
	padding-left: 25px;
}
.list_style_none ul ul ul a, .list_style_none ul ul ul span
{
	padding-left: 35px;
}
.list_style_none ul ul ul ul a, .list_style_none ul ul ul ul span
{
	padding-left: 45px;
}
.text_list
{
	margin: 0px 30px 20px 30px;
}
.text_list ul
{
	margin: 0px;
}
/*
 * TABLE ***
 */

.table_wrapper
{
	margin-bottom: 20px;
	padding: 0px 30px;
}
.table_wrapper .table
{
	width: 100%;
}
.table_wrapper .table td
{
	padding: 5px 10px 5px 10px;
}
.table_wrapper .table th
{
	height: 40px;
	padding-left: 10px;
	text-align: left;
}
/*
 * GENERAL CONTAINERS ***
 */

.wrapper
{
	overflow: hidden;
	padding: 0px;
	width: 100%;
}
.container
{
	margin: 0 auto;
	width: 860px;
}
#main
{
	float: left;
	width: 858px;
}
.content
{
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
	width: 600px;
}
.sidebar
{
	float: right;
	margin-left: -1px;
	padding: 0px;
	width: 257px;
}
/*
 * HEADER: LOGO ***
 */

#logo
{
	float: right;
	margin: 0px;
	padding: 0px;
	width: 257px;
	height: 40px;
}
#logo .logo a
{
	display: block;
	position: absolute;
	border: none;
	text-indent: -9999px;
}
#logo_background
{
	position: absolute;
	display: inline;
}
/*
 * HEADER: MENU ***
 */

#menu
{
	float: left;
	width: 600px;
	height: 40px;
}
#menu ul
{
	margin-left: 18px;
	padding: 0px;
	position: absolute;
	line-height: 50px;
	z-index: 500;
}
#menu ul a
{
	float: left;
	display: block;
	position: relative;
	padding: 7px 12px 10px 12px;
	line-height: 25px;
	z-index: 500;
}
#menu ul li
{
	float: left;
	position: relative;
	padding-bottom: 10px;
	z-index: 20;
}
#menu ul ul
{
	display: none;
	position: absolute;
	margin: 0px 0px 10px 0px;
	top: 40px;
	left: 0px;
	width: 172px;
}
#menu ul ul a
{
	margin: 0px;
	line-height: 27px;
}
#menu ul li li
{
	margin: 0px;
	padding: 0px;
	width: 172px;
}
#menu ul ul ul
{
	top: auto;
	padding: 0px;
}
#menu ul li ul a
{
	float: left;
	padding: 0px 12px;
	width: 138px;
}
#menu ul li ul ul
{
	top: 0px;
	left: 172px;
}
#menu ul li:hover ul ul, #menu ul li:hover ul ul ul, #menu ul li:hover ul ul ul ul
{
	display: none;
}
#menu ul li:hover ul, #menu ul li li:hover ul, #menu ul li li li:hover ul, #menu ul li li li li:hover ul
{
	display: block;
}
/*
 * SLOGAN ***
 */

#slogan
{
	height: 150px;
}
#slogan h2
{
	padding: 65px 0px 0px 27px;
}
#slogan h3
{
	padding: 15px 0px 0px 30px;
}
/* IE 6 / IE 7 HACKS */

* html #slogan h3
{
	padding-top: 20px;
}
*:first-child+ html #slogan h2
{
	margin: auto;
	padding-top: 45px;
}
*:first-child+ html #slogan h3
{
	margin: auto;
	padding-top: 0px;
}
/* END HACKS */

/*
 * TOOLTIP ***
 */

.tooltip
{
	display: none;
	position: absolute;
	left: -2000px;
	width: 90px;
	height: 60px;
	z-index: 5000;
}
/*
 * HOME: FEATURED SLIDE ***
 */

#featured
{
	height: 410px;
}
#featured .label_title
{
	padding: 20px 0px 15px 30px;
}
#featured_items
{
	overflow: hidden;
	position: absolute;
	margin-left: 30px;
	width: 540px;
	height: 350px;
}
#fetured_items_content
{
	overflow: hidden;
	width: 540px;
	height: 300px;
}
#fetured_items_content .right_shadow
{
	margin-left: 533px;
}
#fetured_items_content .item
{
	display: none;
	overflow: hidden;
	position: absolute;
	margin: 0px auto;
	width: 540px;
	height: 300px;
}
#fetured_items_content .current, #slide .current
{
	display: block;
}
#fetured_items_content .caption
{
	position: absolute;
	margin-top: 200px;
	padding: 15px 20px 0px 20px;
	width: 500px;
	height: 85px;
	z-index: 1;
}
#fetured_items_content .caption p
{
	margin-top: 6px;
}
#featured_numbers
{
	position: absolute;
	margin-top: -10px;
	width: 540px;
	z-index: 2;
	text-shadow: none;
}
#featured_numbers .numbers
{
	margin-left: 10px;
}
#featured_numbers .numbers li
{
	float: left;
	margin-right: 5px;
	width: 36px;
	height: 30px;
}
#featured_numbers .numbers a
{
	display: block;
	margin: 0px;
	padding: 5px 0px 5px 10px;
	width: 21px;
}
/*
 * HOME: OTHERS ***
 */

#others
{
	padding-top: 20px;
}
#slide_items
{
	overflow: hidden;
	display: inline;
	float: left;
	margin: 10px 20px 0px 30px;
	width: 300px;
}
#slide_items  .item_title
{
	margin-bottom: 20px;
	line-height: 24px;
}
#slide_items .item
{
	display: none;
	position: absolute;
	width: 300px;
}
#list
{
	float: left;
	width: 220px;
}
#list .item_title
{
	margin-bottom: 5px;
}
#list .first
{
	border: none;
}
#list li
{
	margin-left: 10px;
	width: 210px;
}
#list div
{
	padding: 10px;
	margin: 5px 0px;
	width: 190px;
	cursor: pointer;
}
#list div p
{
	padding: 0px;
}
/*
 * SIDEBAR ELEMENTS ***
 */

/* SEARCH */

#search
{
	height: 150px;
}
#search p
{
	padding: 0px;
}
#search form
{
	position: absolute;
	margin: 85px 0px 0px -11px;
	width: 288px;
	height: 37px;
}
#search .input_search
{
	float: left;
	margin: 5px 0px 0px 30px;
	padding: 3px 10px 3px 0px;
	width: 175px;
	border: none;
	background: none;
}
/* LATEST NEWS */

#latest_news li
{
	margin-bottom: 20px;
}
#latest_news .label_title
{
	padding: 20px 0px 15px 20px;
}
#latest_news li
{
	margin: 0px 20px 5px 20px;
}
#latest_news a
{
	border: none;
}
#latest_news img
{
	float: left;
	margin: 0px 10px 5px 0px;
}
#latest_news p.date
{
	margin-top: 3px;
	padding-bottom: 10px;
}
/* TWITTER */

#twitter
{
	padding: 5px;
	padding-bottom: 0px;
	min-height: 80px;
}
#twitter .tweet
{
	padding: 15px 10px 15px 40px;
	margin-bottom: 5px;
}
#twitter .tweet p
{
	margin: 0px;
	padding: 0px;
}
#twitter .tweet small
{
	display: block;
	margin-top: 10px;
}
/* TEXT CAPTION */

.text
{
	margin: 5px;
	padding: 15px 0px;
}
.text .label_title
{
	padding: 0px 0px 15px 15px;
}
.text .item_title
{
	padding: 0px 15px 10px 15px;
}
.text p
{
	margin: 0px 15px 0px 15px;
}
#main .background_none
{
	background: none;
}
/* CONTACTS */

#contacts
{
	margin: 5px;
	padding: 15px 0px;
	width: 247px;
}
#contacts .label_title
{
	padding: 0px 0px 15px 20px;
}
#note
{
	clear: both;
	padding: 30px 20px 10px 20px;
}
#contact_info ul
{
	margin: 0px 0px 5px 20px;
}
#contact_info li
{
	background: none;
}
#contact_info li a
{
	display: block;
	margin: 6px 0px;
}
#button_contact_info
{
	cursor: pointer;
	float: left;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	width: 121px;
	height: 30px;
}
#button_contact_form
{
	cursor: pointer;
	float: left;
	padding: 0px;
	width: 121px;
	height: 30px;
}
/* CATEGORIES / ARCHIVES */

#categories ul, #archives ul
{
	margin: 0px 20px 20px 20px;
}
#categories .label_title, #archives .label_title
{
	padding: 20px 0px 15px 20px;
}
#categories #button_feed
{
	position: absolute;
	margin: -35px 0px 0px 218px;
}
/* LATEST COMMENTS */

#latest_comments div
{
	margin: 5px;
	padding-top: 30px;
}
#latest_comments .label_title
{
	padding: 0px 0px 15px 15px;
}
#latest_comments ul
{
	margin: 0px 15px 0px 15px;
}
#latest_comments ul li
{
	padding-bottom: 30px;
}
#latest_comments ul p
{
	padding: 0px;
}
#latest_comments .post_link
{
	margin-bottom: 15px;
}
/*
 * WORKS **
 */

#works
{
	float: left;
	width: 858px;
}
#grid
{
	overflow: hidden;
	padding: 20px 0px 10px 30px;
	width: 828px;
}
/* IE 7 HACK */

*:first-child+ html #grid
{
	padding-bottom: 30px;
}
/* END HACK */

#grid .item
{
	float: left;
	margin: 0px 20px 20px 1px;
	width: 252px;
}
#grid .previews
{
	margin-top: 15px;
	width: 250px;
	height: 140px;
}
#grid .right_shadow
{
	margin-left: 233px;
}
#grid .previews_content
{
	position: absolute;
	margin: 5px;
	width: 240px;
	height: 130px;
}
#grid .previews_content a
{
	margin: 0px;
	padding: 0px;
	border: none;
}
#grid .previews_content .info
{
	display: none;
	overflow: hidden;
	position: absolute;
	width: 240px;
	height: 130px;
	z-index: 10;
}
#grid .previews_content .info p
{
	display: block;
	margin-top: -130px;
	padding: 15px 30px;
	width: 200px;
	height: 100px;
}
#grid .previews_content .info .read_more
{
	display: block;
	margin-top: 10px;
	padding-left: 30px;
}
#grid .previews_content .button_info
{
	display: none;
	position: absolute;
	padding: 0px;
	width: 240px;
	height: 20px;
	z-index: 11;
}
#grid .previews_content .images
{
	position: absolute;
	overflow: hidden;
	width: 240px;
	height: 130px;
	z-index: 9;
}
#grid .previews_content .images li
{
	float: left;
	position: relative;
	margin: 0px;
	width: 240px;
	height: 130px;
}
#grid .previews_content .prev, #grid .previews_content .next
{
	display: none;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 37px;
}
#grid .previews_content .prev
{
	margin: 48px 0px 0px -30px;
	z-index: 60;
}
#grid .previews_content .next
{
	margin: 48px 0px 0px 230px;
	z-index: 61;
}
.elsewhere
{
	float: left;
	display: inline;
	margin: 50px 20px 30px 30px;
	width: 260px;
}
#main .right
{
	margin: 50px 0px 30px 0px;
}
.elsewhere img
{
	float: left;
	margin: 0px 10px 5px 0px;
}
.elsewhere .item_title, .works_page
{
	margin-bottom: 15px;
	padding: 0px;
}
#main .elsewhere_news_box
{
	margin-top: 32px;
}
/*
 * THUMBS SLIDE ***
 */

.thumbs_slide
{
	clear: both;
	margin-bottom: 20px;
	height: 90px;
}
#main .thumbs_slide .right_shadow
{
	margin-left: 471px;
}
.thumbs_slide .thumbs_shadow
{
	position: absolute;
	margin: 15px 0px 0px 60px;
	width: 478px;
	height: 60px;
}
.thumbs_slide .thumbs
{
	display: none;
	width: 478px;
	height: 60px;
}
.thumbs_slide .thumbs ul
{
	margin: 0px;
	padding: 0px;
}
.thumbs_slide .thumbs li
{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 97px;
}
.thumbs_slide a, .thumbs_slide span, #main .thumbs_slide .thumbs li img
{
	margin: 0px;
	padding: 0px;
}
.thumbs_slide .prev, .thumbs_slide .next
{
	display: inline;
	position: absolute;
	width: 40px;
	height: 37px;
	cursor: pointer;
}
.thumbs_slide .prev
{
	z-index: 90;
	margin: 30px 0px 0px 30px;
}
.thumbs_slide .next
{
	z-index: 91;
	margin: 30px 0px 0px 528px;
}
/*
 * ABOUT ***
 */

#about .label_title
{
	padding: 20px 0px 15px 30px;
}
#life .heading
{
	padding: 0px 0px 15px 30px;
}
#life p
{
	padding: 0px 25px 20px 30px;
}
#life .shadow_image .top_shadow, #life .shadow_image .right_shadow
{
	border: none;
}
#life .shadow_image .right_shadow
{
	margin-left: 534px;
}
#life img
{
	float: left;
	margin: 0px 10px 5px 0px;
}
#life .shadow_image img
{
	margin-bottom: 20px;
}
#clients
{
	float: left;
	padding-top: 30px;
}
#clients .label_title
{
	padding: 0px 0px 15px 30px;
}
#clients .grid
{
	overflow: hidden;
	margin-top: 5px;
	padding-left: 30px;
	width: 570px;
}
#clients .grid li
{
	float: left;
	margin: 0px 20px 20px 0px;
	width: 120px;
	height: 60px;
	background: none;
}
#links
{
	clear: both;
	padding-top: 30px;
}
#links .label_title
{
	padding: 0px 0px 15px 0px;
}
#friends
{
	display: inline;
	float: left;
	overflow: hidden;
	margin: 0px 20px 0px 30px;
	padding-bottom: 30px;
	width: 220px;
}
#respect, #resources
{
	float: left;
	margin-right: 20px;
	padding-bottom: 30px;
	width: 140px;
}
#resources
{
	margin-right: 0px;
}
/*
 * BLOG ***
 */

#blog .shadow_image .top_shadow, #blog .shadow_image .right_shadow
{
	border: none;
}
#blog .shadow_image .right_shadow
{
	margin-left: 534px;
}
#blog .entry
{
	overflow: hidden;
}
#blog .entry .item_title
{
	padding: 20px 0px 15px 30px;
}
#blog .entry .heading
{
	padding: 0px 0px 15px 30px;
}
#blog .entry p
{
	padding: 0px 25px 20px 30px;
}
#blog .entry #post_meta
{
	overflow: hidden;
	margin: 10px 0px 20px 30px;
	padding: 20px;
	width: 500px;
}
#blog .entry #post_meta p
{
	float: left;
	padding: 0px 0px 0px 0px;
}
#blog .entry #post_meta .read_more, #blog .entry #post_meta .in_categories
{
	float: right;
}
#blog .entry #post_meta .read_more
{
	width: 70px;
}
#posts
{
	padding: 30px 25px 30px 30px;
}
#posts .label_title
{
	padding: 0px 0px 15px 0px;
}
#posts .right_shadow
{
	margin-left: 523px;
}
#slide_posts
{
	overflow: hidden;
	margin-bottom: 30px;
	width: 540px;
}
#slide_posts_content, #slide_posts_shadow
{
	overflow: hidden;
	margin: 5px;
}
#slide_posts_content
{
	margin: 0px;
}
#slide_posts_content .item_title
{
	margin-bottom: 10px;
	line-height: 24px;
}
#slide_posts_content li
{
	float: left;
	padding: 10px 0px 10px 17px;
	width: 240px;
	background: none;
}
#slide_posts_content a
{
	border: none;
}
#slide_posts_content img
{
	margin-bottom: 5px;
}
#sp_next, #sp_prev
{
	display: inline;
	position: absolute;
	width: 40px;
	height: 37px;
	cursor: pointer;
}
#sp_prev
{
	z-index: 90;
	margin: 140px 0px 0px -25px;
}
#sp_next
{
	z-index: 91;
	margin: 140px 0px 0px 525px;
}
#posts .older_posts
{
	padding-bottom: 40px;
}
#post_navigation
{
	margin: 20px 0px 20px 20px;
	height: 30px;
}
/*
 * COMMENTS ***
 */

#comments .label_title
{
	padding: 20px 0px 15px 30px;
}
#comments .comment
{
	margin-left: 30px;
	width: 540px;
}
#comments .comment .message
{
	float: left;
	padding: 10px 10px 0px 10px;
	width: 520px;
}
#comments .gravatar
{
	float: left;
	padding: 0px;
	width: 60px;
	height: 60px;
}
#comments .right_shadow
{
	margin-left: 53px;
}
#comments .comment_text
{
	float: right;
	width: 440px;
}
#comments .comment_meta
{
	clear: both;
	margin-bottom: 20px;
	padding: 2px 0px 0px 90px;
}
/*
 * FORMS ***
 */

/* ABOUT PAGE: SPEEDY FORM MAIL */

#speedy_form
{
	margin-bottom: 20px;
	width: 245px;
}
#speedy_form label.message
{
	border: none;
}
#speedy_form .btn
{
	padding-left: 6px;
	width: 207px;
	height: 30px;
	cursor: pointer;
}
#speedy_form textarea, #speedy_form input
{
	margin: 0px 0px 5px 20px;
	padding: 4px 5px 4px 5px;
}
#speedy_form textarea
{
	overflow: hidden;
	width: 197px;
	height: 120px;
}
#speedy_form input
{
	width: 197px;
	height: 18px;
}
#speedy_form fieldset
{
	margin: 0px;
	padding: 0px;
}
#speedy_form fieldset.textarea
{
	margin-bottom: 5px;
}
#response
{
	display: none;
	margin: 0px 0px 10px 20px;
	padding: 5px 0px;
	width: 207px;
	text-align: center;
}
#response p
{
	margin: 0px;
	padding: 0px;
}
/* FORM */

#form_wrapper
{
	padding: 20px 25px 30px 30px;
}
#form_wrapper .label_title
{
	padding: 0px 0px 15px 0px;
}
#form
{
	overflow: hidden;
	margin-bottom: 20px;
	width: 540px;
}
#form form
{
	margin: 5px;
	width: 530px;
}
#form .btn
{
	position: absolute;
	margin: -15px 0px 0px 395px;
	width: 130px;
	height: 32px;
	cursor: pointer;
}
/* IE 6 / IE 7 HACKS */

* html #form .btn
{
	margin-top: -10px;
}
*:first-child+ html #form .btn
{
	margin-top: -10px;
}
/* END HACKS */

#form textarea, #form input
{
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 4px 5px 4px 5px;
}
#form textarea
{
	overflow: hidden;
	margin-bottom: 20px;
	width: 430px;
	height: 120px;
}
#form input
{
	width: 430px;
	height: 16px;
}
#form label
{
	float: left;
	padding: 4px 0px 4px 10px;
	width: 80px;
	height: 16px;
}
/* IE 6 HACK */

* html #form label
{
	padding: 3px 0px 3px 10px;
}
/* END HACK */

#form .message
{
	border-bottom: none;
}
#form fieldset
{
	margin: 0px;
	padding: 0px;
	border: none;
}
#form fieldset.textarea
{
	margin-bottom: 5px;
}
#form .right_shadow
{
	margin-left: 523px;
}
/*
 * PAGINATIONS ***
 */

#pagination
{
	clear: both;
	width: 858px;
}
#next_page, #prev_page
{
	position: absolute;
	display: block;
	margin-top: -10px;
	width: 40px;
	height: 32px;
}
#next_page
{
	margin-left: 434px;
}
#prev_page
{
	margin-left: 384px;
}
#post_pagination
{
	width: 540px;
	height: 32px;
}
#post_next_page, #post_prev_page
{
	position: absolute;
	display: block;
	margin-top: -10px;
	width: 40px;
	height: 32px;
}
#post_next_page
{
	margin-left: 275px;
}
#post_prev_page
{
	margin-left: 225px;
}
/*
 * FOOTER ***
 */

#footer
{
	float: left;
}
#footer a
{
	padding: 0px;
}
#footer_content
{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 600px;
}
#footer_content ul
{
	float: left;
	display: inline;
	margin: 40px 20px 0px 30px;
	width: 140px;
}
/* IE 6 / IE7 HACK */

* html #footer_content ul
{
	margin: 40px 20px 0px 15px;
	width: 155px;
}
*:first-child+ html #footer_content ul
{
	margin: 40px 20px 0px 15px;
	width: 155px;
}
/* END HACK */

#follow_me
{
	float: left;
	margin-top: 40px;
	width: 380px;
}
#follow_me h5
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 380px;
}
#follow_me a
{
	margin-right: 5px;
}
#newsletter
{
	float: right;
	margin-left: -1px;
	padding: 0px;
	width: 257px;
}
#newsletter p
{
	padding: 0px;
}
#newsletter form
{
	position: absolute;
	margin: 40px 0px 0px -11px;
	width: 288px;
	height: 37px;
}
#newsletter .input_newsletter
{
	float: left;
	margin: 5px 0px 0px 30px;
	padding: 3px 10px 3px 0px;
	width: 175px;
	border: none;
}
#newsletter .note
{
	margin: 85px 20px 30px 0px;
	padding-left: 20px;
}
/*
 * CLASSES ***
 */

.content_label, .sidebar_label
{
	clear: both;
	display: block;
	position: absolute;
	padding: 0px;
	width: 40px;
	height: 37px;
}
.content_label
{
	margin: 20px 0px 0px -30px;
}
.content_label span
{
	position: absolute;
	margin: 8px 12px;
	z-index: 1;
}
.sidebar_label
{
	margin: 20px 0px 0px -16px;
}
.top_shadow, .right_shadow
{
	position: absolute;
}
.top_shadow
{
	margin: 0px;
	z-index: 50;
}
.right_shadow
{
	z-index: 51;
}
.read_more
{
	display: block;
	padding-left: 30px;
	width: 100px;
}
.sidebar .read_more
{
	margin-left: 15px;
}
#main .align_left
{
	float: left;
	margin: 0px 10px 5px 0px;
}
#main .align_right
{
	float: right;
	margin: 0px 0px 5px 10px;
}
*
{
	outline: none;
}
