<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>parker&amp;kent</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/skin.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="jscript/prettyPhoto/css/prettyPhoto.css" charset="utf-8" />
	
	<!--[if IE 6]>
		<script type="text/javascript" src="jscript/belated_png.js"></script>
		<script type="text/javascript">
			DD_belatedPNG.fix(".logo a, #logo_background img, .previews, .previews img, #pagination img, .content_label img, .sidebar_label img");
		</script>
	<![endif]-->
	
	<script type="text/javascript" src="jscript/jquery.js"></script>
	<script type="text/javascript" src="jscript/prettyPhoto/js/jquery.prettyPhoto.js" charset="utf-8"></script>
	<script type="text/javascript" src="jscript/easing.js"></script>
	<script type="text/javascript" src="jscript/pk.js"></script>
</head>

<body>
	
	<!--[if !IE]>start #top<![endif]-->
	<div class="wrapper top">
		<div class="container">
			<div id="logo">
				<span id="logo_background"><img src="images/skin/back_ground_logo.png" alt="" /></span>
				<h1 class="logo"><a href="index.html" title="">Simply</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="index.html" title="">HOME</a>
						<ul>
							<li><a href="index_flash.html" title="">HOME FLASH</a></li>
						</ul>
					</li>
					<li class="current"><a href="works.html" title="">WORKS</a>
						<ul>
							<li><a href="works.html" title="">PRINT</a></li>
							<li><a href="works.html" title="">IDENTITY</a></li>
							<li><a href="works.html" title="">WEB</a></li>
							<li><a href="works.html" title="">ANIMATION</a>
								<ul>
									<li><a href="works.html" title="">MOTION</a></li>
									<li><a href="works.html" title="">3D ANIMATION</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="about.html" title="">ABOUT</a></li>
					<li><a href="blog.html" title="">BLOG</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--[if !IE]>end #top<![endif]-->
	
	<!--[if !IE]>start #main<![endif]-->
	<div class="wrapper center">
		<div class="container">
			<div id="main">
				
				<div class="content">
					<div id="slogan">
						<h2>SHOWCASE</h2>
						<h3>quis aute iure reprehendit in!</h3>
					</div>
				</div>
				
				<div class="sidebar">
					<div id="search">
						<form action="" method="get">
							<p>
								<input type="text" class="input_search" name="search" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" />
								<input type="image" src="images/skin/button_search.jpg" alt="Submit" />
							</p>
						</form>
					</div>
				</div>
				
				<!--[if !IE]>start #works<![endif]-->
				<div id="works">
					<p class="content_label"><img src="images/skin/works_label.png" alt="" /></p>
					
					<!--[if !IE]>start #grid<![endif]-->
					<div id="grid">
					
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE ONE</a></h3>
							<div class="previews">
								
								<div class="previews_content">
								
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p1"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n1"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 1">
										<ul>
											<li><a href="images/gallery/01.jpg" title="" rel="prettyPhoto[one]"><img src="images/works/01.jpg" alt="" /></a></li>
											<li><a href="images/gallery/02.jpg" title="" rel="prettyPhoto[one]"><img src="images/works/02.jpg" alt="" /></a></li>
											<li><a href="images/gallery/03.jpg" title="" rel="prettyPhoto[one]"><img src="images/works/03.jpg" alt="" /></a></li>
										</ul>
									</div>
								
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE TWO</a></h3>
							<div class="previews">
								<div class="previews_content">
									
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p2"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n2"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 2">
										<ul>
											<li><a href="images/gallery/04.jpg" title="" rel="prettyPhoto[two]"><img src="images/works/04.jpg" alt="" /></a></li>
											<li><a href="images/gallery/05.jpg" title="" rel="prettyPhoto[two]"><img src="images/works/05.jpg" alt="" /></a></li>
											<li><a href="images/gallery/01.jpg" title="" rel="prettyPhoto[two]"><img src="images/works/06.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE THREE</a></h3>
							<div class="previews">
								<div class="previews_content">
									
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p3"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n3"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 3">
										<ul>
											<li><a href="images/gallery/02.jpg" title="" rel="prettyPhoto[three]"><img src="images/works/07.jpg" alt="" /></a></li>
											<li><a href="images/gallery/03.jpg" title="" rel="prettyPhoto[three]"><img src="images/works/08.jpg" alt="" /></a></li>
											<li><a href="images/gallery/04.jpg" title="" rel="prettyPhoto[three]"><img src="images/works/09.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE FOUR</a></h3>
							<div class="previews">
								<div class="previews_content">
									
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p4"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n4"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 4">
										<ul>
											<li><a href="images/gallery/05.jpg" title="" rel="prettyPhoto[four]"><img src="images/works/10.jpg" alt="" /></a></li>
											<li><a href="images/gallery/01.jpg" title="" rel="prettyPhoto[four]"><img src="images/works/11.jpg" alt="" /></a></li>
											<li><a href="images/gallery/02.jpg" title="" rel="prettyPhoto[four]"><img src="images/works/12.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE FIVE</a></h3>
							<div class="previews">
								<div class="previews_content">
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p5"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n5"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 5">
										<ul>
											<li><a href="images/gallery/03.jpg" title="" rel="prettyPhoto[five]"><img src="images/works/13.jpg" alt="" /></a></li>
											<li><a href="images/gallery/04.jpg" title="" rel="prettyPhoto[five]"><img src="images/works/14.jpg" alt="" /></a></li>
											<li><a href="images/gallery/05.jpg" title="" rel="prettyPhoto[five]"><img src="images/works/15.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE SIX</a></h3>
							<div class="previews">
								<div class="previews_content">
									
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p6"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n6"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 6">
										<ul>
											<li><a href="images/gallery/01.jpg" title="" rel="prettyPhoto[six]"><img src="images/works/16.jpg" alt="" /></a></li>
											<li><a href="images/gallery/02.jpg" title="" rel="prettyPhoto[six]"><img src="images/works/17.jpg" alt="" /></a></li>
											<li><a href="images/gallery/03.jpg" title="" rel="prettyPhoto[six]"><img src="images/works/18.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE SEVEN</a></h3>
							<div class="previews">
								<div class="previews_content">
									
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p7"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n7"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 7">
										<ul>
											<li><a href="images/gallery/04.jpg" title="" rel="prettyPhoto[seven]"><img src="images/works/19.jpg" alt="" /></a></li>
											<li><a href="images/gallery/05.jpg" title="" rel="prettyPhoto[seven]"><img src="images/works/20.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="item_title"><a href="single_work.html" title="">WORK TITLE EIGHT</a></h3>
							<div class="previews">
								<div class="previews_content">
								
									<!--[if !IE]>buttons<![endif]-->
									<span class="prev p8"><img src="images/skin/button_prev.png" alt="" /></span>
									<span class="next n8"><img src="images/skin/button_next.png" alt="" /></span>
									<span class="button_info"><img src="images/skin/button_info_works.png" alt="" /></span>
									<!--[if !IE]>end buttons<![endif]-->
									
									<div class="info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.<a href="single_work.html" title="Read more" class="read_more">Read more</a></p>
									</div>
									<div class="images 8">
										<ul>
											<li><a href="images/gallery/05.jpg" title="" rel="prettyPhoto[eight]"><img src="images/works/21.jpg" alt="" /></a></li>
											<li><a href="images/gallery/01.jpg" title="" rel="prettyPhoto[eight]"><img src="images/works/22.jpg" alt="" /></a></li>
											<li><a href="images/gallery/02.jpg" title="" rel="prettyPhoto[eight]"><img src="images/works/23.jpg" alt="" /></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="item">
							<h3>---</h3>
							<div class="previews empty"></div>
						</div>
						
					</div>
					<!--[if !IE]>end #grid<![endif]-->
					
					<div id="pagination">
						<a href="" title="" id="prev_page"><img src="images/skin/pagination_button_prev.png" alt="" /></a>
						<a href="" title="" id="next_page"><img src="images/skin/pagination_button_next.png" alt="" /></a>
					</div>
				</div>
				<!--[if !IE]>end #works<![endif]-->
				
				<!--[if !IE]>start #content<![endif]-->
				<div class="content">
					<div class="elsewhere">
						<h2 class="label_title works_page">ABOUT</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
						<a href="about.html" title="Read more" class="read_more">Read more</a>
					</div>
					<div class="elsewhere right">
						<h2 class="label_title works_page">BLOG</h2>
						<h4 class="item_title"><a href="blog_post.html" title="">Latest post title</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
						<a href="blog_post.html" title="Read more" class="read_more">Read more</a>
					</div>
				</div>
				<!--[if !IE]>end #content<![endif]-->
				
				<!--[if !IE]>start #sidebar<![endif]-->
				<div class="sidebar">
					<div id="latest_news" class="elsewhere_news_box">
						<h2 class="label_title">NEWS</h2>
						<ul>
							<li>
								<h4 class="item_title"><a href="#" title="">News title one</a></h4>
								<p class="date">25.02.2010</p>
								<p><a href="images/gallery/04.jpg" title="" rel="prettyPhoto[news]"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
							</li>
						</ul>
					</div>
				</div>
				<!--[if !IE]>end #sidebar<![endif]-->

			</div>
		</div>
	</div>
	<!--[if !IE]>end #main<![endif]-->
	
	<!--[if !IE]>start #footer<![endif]-->
	<div class="wrapper bottom">
		<div class="container">
			<div id="footer">
				<div id="footer_content">
					<ul>
						<li>Simply Theme</li>
						<li>Forest street, 102</li>
						<li>Bern - Switzerland</li>
						<li><a href="mailto:info@simply.com">info@simply.com</a></li>
					</ul>
					<div id="follow_me">
						<h5>Follow Me</h5>
						<a href="#" title=""><img src="images/social_network/twitter.jpg" alt="twitter" /></a>
						<a href="#" title=""><img src="images/social_network/facebook.jpg" alt="facebook" /></a>
						<a href="#" title=""><img src="images/social_network/feed.jpg" alt="feed" /></a>
					</div>
				</div>
				<div id="newsletter">
					<form action="" method="get">
						<p>
							<input type="text" class="input_newsletter" name="search" value="Enter your email" onfocus="if (this.value == 'Enter your email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your email';}" />
							<input type="image" src="images/skin/button_newsletter.jpg" alt="Submit" />
						</p>
					</form>
					<p class="note">Lorem ipsum dolor sit amet, consectetur adipisici elit... sed eiusmod tempor incidunt ut labore et dolore!</p>
				</div>
			</div>
		</div>
	</div>
	<!--[if !IE]>end #footer<![endif]-->

</body>
</html>